# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Plotly graphs (if generated)
*.html

# Logs
*.log

# Data files (since data is stored in CSV format)
datafolder/
fundamental_analysis_stocks.csv

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# PyCharm
.idea/
